# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folder
venv/
env/

# Package files
*.egg
*.egg-info/

# Cache and log files
*.log
*.cache
*.pyo
*.tmp

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Python requirements
requirements.txt

# Compiled files
*.so
*.dll
*.dylib
*.lib
